Repository Khaaz/AxonCore, pull requests merged in 2020-11, with the labels that each got.

#118 Command user lock
  src/Core/Command/Command.js
  src/Core/Command/CommandOptions.js
  src/Core/Command/CommandUserLock.js
  src/Utility/Constants/AxonEnums.js
  types/Core/Command/CommandOptions.ts
  types/Core/Command/CommandUserLock.ts
  types/misc/interfaces.ts
Labels: c: core, semver: minor, t: addition

#113 feat: Add dynamic string getter and folder imports
  src/AxonClient.js
  src/AxonOptions.js
  src/Langs/MessageManager.js
  src/Langs/MessageManagerProxy.js
  src/Langs/MessageParser.js
  src/Langs/TranslationManager.js
  types/AxonClient.ts
  types/Langs/MessageManager.ts
  types/Langs/MessageParser.ts
  types/Langs/TranslationManager.ts
  types/index.ts
  types/misc/interfaces.ts
Labels: c: langs, semver: minor, t: addition

#120 Fix UserLock - user being locked forever.
  src/Core/Command/Command.js
  src/Core/Command/CommandOptions.js
  src/Core/Command/CommandUserLock.js
  types/Core/Command/Command.ts
  types/Core/Command/CommandOptions.ts
  types/Core/Command/CommandUserLock.ts
  types/index.ts
Labels: c: core, semver: patch, t: fix
